body {
    background: rgb(0, 0, 0);
}

 video {
  width: 80%;
  margin: 150px;
  margin-top:100px;
}
.inter1{
   color: rgb(255, 0, 242);
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   right: 520px;
   top: -90px;
   margin: 150px;
   position:absolute;
}

.p1{
    color:rgb(255, 255, 255);
    margin: 150px;
    margin-top:-90px;
   font-family:Impact,'Arial Narrow Bold', sans-serif;
   font-size: 25px;

}




  .inter2{
     color: rgb(255, 0, 153);
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     right: 520px;
     top: 820px;
     margin: 150px;
     position:absolute;
  }
  
  .p2{
      color:rgb(255, 255, 255);
      margin: 150px;
      margin-top:-90px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 25px;
  
  }



  .inter3{
    color: rgb(255, 0, 238);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    right: 590px;
    top: 1940px;
    margin: 150px;
    position:absolute;
 }
 
 .p3{
     color:rgb(255, 255, 255);
     margin: 150px;
     margin-top:-90px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
 
 }


 
.openback{
   width: 250px;
   height: 50px;
   border-radius: 8px;
   font-size: 1.5rem;
   color: rgb(0, 0, 0);
   background-image: url(pic/backhomemovies.jpg) ;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .openback:hover{
   background: rgb(255, 0, 255);
 }


